{% extends "base.html" %}
{% block title %} Curso Python {% endblock %}
{% block content %}
 
<h3>Hoy es: {{fecha_actual.day}}  / {{fecha_actual.month}} / {{fecha_actual.year}}</h3>
    <h2>Cursos Disponibles:</h2>
    <p>Profesor a cargo: {{nombre_persona}} {{apellido_persona}}</p>
    <p>Cursos:</p>
    <p>
        <ul>
            {% if cursos %}
            {% for curso in cursos %}
                <li>{{curso}}</li>
            {% endfor %}
            {% endif %}
        </ul>
    </p>
{% endblock %}